/* p{
    border: 1px solid black;
    width: 300px;
}
/* div p:last-child{
    background-color: gray;
} */
/* div p:nth-child(3){
    background-color: red !important;
    color: white;
    font-family: lato-Bold;
    font-size: 30px;
}
div p:nth-child(even){
    background-color: green;
}
div p:nth-child(odd){
    background-color: greenyellow;
}
@font-face{
    font-family: lato-Bold;
    src: url("./Kembara\ Cinta\ Demo.ttf");
} */
.demo1{
    width: 100px;
    height: 100px;
    background-color: red;
}
.demo2{
    width: 300px;
    height: 300px;
    background-color: royalblue;
    float: right;
}